.square {
  background: var(--tic-tac-toe-background);
  border: 1px solid var(--tic-tac-toe-border);
  border-radius: 0%;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.playAgainButton {
  margin: 15px 0;
  padding: 8px 16px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--tic-tac-toe-border);
}