.greenSection {
  background-color: var(--design-green-bg);
  direction: rtl;
  text-align: right;
  color: var(--design-text-color);
  padding: 3.25rem 1.625rem 1.625rem 1.625rem;
  width: 100%;
}

.logo {
  font-family: var(--font-museum-aaa);
  color: var(--design-text-color);
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.075rem;
  margin-top: 0;
}

.subtitle {
  font-family: var(--font-narkis-block);
  color: var(--design-text-color);
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0.5rem 0 2rem 0;
}

.description {
  font-family: var(--font-narkis-block);
  color: var(--design-text-color);
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.375rem;
}

.description strong {
  font-family: var(--font-narkis-block);
  color: var(--design-text-color);
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: -0.22px;
}

.gridSection {
  position: relative;
  margin-top: 1.625rem;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 2rem;
}

.gridImage {
  object-fit: cover;
}

.highlightTag {
  display: block;
  position: absolute;
  z-index: 10;
}

.highlightText {
  display: block;
  padding: 0.2rem 0.5rem;
}

.markerPurple {
  display: block;
  position: absolute;
  z-index: 10;
  background-color: var(--design-marker-purple);
  top: 1.3rem;
  left: 0.872rem;
  width: 9.873rem;
  height: 1.201rem;
  transform: rotate(-7.301deg) skewX(-15deg);
  font-family: var(--font-narkis-block);
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 0.938rem;
}

.markerPurple .highlightText {
  transform: skewX(15deg);
  color: var(--design-green-bg);
}