.container {
  background-color: var(--design-bg-color);
  direction: rtl;
  text-align: right;
  color: var(--design-text-color);
  padding: 3.25rem 1.625rem;
}

.logo {
  font-family: var(--font-museum-aaa);
  color: var(--design-text-color);
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.075rem;
  margin-top: 0;
}

.subtitle {
  font-family: var(--font-narkis-block);
  color: var(--design-text-color);
  font-size: 1.375rem; 
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0.5rem 0 2rem 0;
}

.description strong{
  font-family: var(--font-narkis-block);
  color: var(--design-text-color);
  font-size: 1.375rem; 
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: -0.22px;
}

.description {
  font-family: var(--font-narkis-block);
  color: var(--design-text-color);
  font-size: 1.375rem; 
  font-weight: 400;
  line-height: 1.375rem;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns that are equal in width */
  padding-top: 2rem;
  margin-bottom: 1.625rem;
}

.gridSection {
  position: relative; /* To contain absolutely positioned children */
  margin-top: 1.625rem;
}

.highlightTag {
  display: inline-block; /* Enable padding and transform */
  position: absolute; /* Make the tag float over the images grid */
  top: 1.2rem;
  left: 0.872rem;
  transform: rotate(-7.301deg) skewX(-15deg);
  width: 157.97px;
  height: 19.22px;
  font-family: var(--font-narkis-block);
  font-size: 0.938rem; 
  font-weight: 400;
  line-height: 0.938rem;
  padding: 0.2rem 0.5rem;
}

.highlightText {
  display: inline-block;
  transform: skewX(15deg);
}

.markerPurple {
  background-color: var(--design-marker-purple);
  color: var(--design-bg-color);
}

