@import url("reset.css");
/* This is a custom font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* what is :root? https://developer.mozilla.org/en-US/docs/Web/CSS/:root */
:root {
  /* Define design variables */
  --color-primary: #2b2d42;
  --color-secondary: #bfc6d2;
  --color-background: #f5f5f5;
  --color-card-background: #f9f9f9;
  --color-accent: #292c67;
  --color-shadow: rgba(0, 0, 0, 0.08);
  --color-overlay: rgba(0, 0, 0, 0.4);

  /************************************
  * Tic-Tac-Toe game colors
  /* General background colors */
  --tic-tac-toe-game-bg: #ebe7f0;
  --tic-tac-toe-bg: #f5f5f5;

  /* Player colors */
  --tic-tac-toe-player-x-color: #d33383;
  --tic-tac-toe-player-o-color: #2c95be;

  /* General UI colors */
  --tic-tac-toe-border: #3E3B6B;
  --tic-tac-toe-text-color-hover: #FFFFFF;
  --tic-tac-toe-text-color: #3E3B6B;
  /************************************/

  /************************************
  /* Design assigment colors */
  --design-text-color: #243B0F;
  --design-green-bg: #EEFFD4;
  --design-purple-bg: #EADCF8;
  --design-bg: #F4F0F0;
  --design-marker-purple: #970970;
  --design-marker-purple-light: #CCA9DE;
  --design-marker-green: #E2FC77;
  --design-white-text: #F6EEFF;
  /************************************/


  --border-radius: 0.5rem;

  --font-titles: "Rubik", serif;
  --font-body: system-ui, sans-serif;
  /* system-ui matches the user's system font */
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body);
}

/* Layout */
main {
  max-width: 60rem;
  padding: 2rem;
  margin: 0 auto;
}

header {
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--color-background);

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    margin: 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

footer {
  padding: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

.rtl {
  direction: rtl;
}

/* Text */
p {
  margin: 1rem 0;
}

ul,
ol {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: var(--font-titles);
  font-weight: 500;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}

blockquote {
  padding-left: 1rem;
  border-left: 0.125rem solid var(--color-secondary);
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

table td,
table th {
  padding: 0.5rem;
  border: 0.0625rem solid var(--color-secondary);
}

/* Forms */
input,
button,
textarea,
select {
  padding: 0.2rem 0.5rem;
  border: 0.0625rem solid var(--color-secondary);
  border-radius: var(--border-radius);
}

fieldset {
  margin-top: 1.5rem;
  border: 0.0625rem solid var(--color-secondary);
}

.counter-button {
  background-color: var(--color-accent);
  width: 2rem;
  height: 2rem;
  color: white;
  border: none;
  border-radius: 62.5rem;
  /* Make the button round */
  cursor: pointer;
  font-weight: bold;

  &:hover {
    filter: brightness(120%);
  }

  &:active {
    filter: brightness(80%);
  }
}